body{
    background: linear-gradient(135deg, #667eea, #764ba2);
  }
  
  .container{
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 40%;
    /* overflow: auto; */
    min-height: 200px;
    max-height: 550px;
    /* height: 550px; */
    text-align: left;
    padding-left: 33px;
    border-radius: 10px;
  }
  
  .head{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    margin-bottom: 7px;
  }
  
  .inputCont{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .input{
    padding-left: 10px;
    margin-right: 10px;
    height: 40px;
    width: 70%;
    border: 1px solid #ccc;
  }
  
  .input:hover{
    border: none;
  }
  
  .button{
    margin-right: 15px;
    background-color: #8D49E7;
    height: 33px;
    width: 50px;
    color: white;
    font-size: 20px;
    padding-top: 10px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 5px;
    transition:  0.3s ease;
  }
  
  .button:hover{
    cursor: pointer;
    background-color: #af85e6;
  }
  
  footer{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-bottom: 10px;
  }
  
  footer p{
    font-weight: bold;
  }
  
  .clearAll{
    background-color: #8D49E7;
    height: 26px;
    width: 70px;
    color: white;
    font-size: 13px;
    padding-top: 12px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 5px;
    transition:  0.3s ease;
  }
  
  .clearAll:hover{
    cursor: pointer;
    background-color: #af85e6;
  }
  .testt{
    background-color: aqua;
    height: 1000px;
    overflow-y: scroll;
  }
  .scroll{
    max-height: 300px;
  }